<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DynamicAssemblyName" value="Gobol.DB.Generated" />
    <add key="AssembliesToSetup" value="CK.DB.Actor, CK.DB.User.UserPassword, CK.DB.Auth, CK.DB.Group.SimpleNaming" />
    <add key="UsedSchemas" value="gobol" />
    <add key="DatabaseTestName" value="Gobol" />
    <add key="CK_DB_TEST_MASTER_CONNECTION_STRING" value="Server=.;Database=master;Trusted_Connection=True;" />
  </appSettings>
</configuration>